canvas {
    border: 1px solid var(--white);
    z-index: 2;
}

.diagram {
    width: 400px;
    height: 400px;
    background-color: #F8F7FF;
    margin-right: 20px;
    margin-bottom: 20px;
}

.diagram2 {
    width: 600px;
    height: 600px;
    background-color: #F8F7FF;
}