.d_flex {
    display: flex;
}

.w_50 {
    width: 50px;
}

.w_300 {
    width: 300px;
}

.w_200 {
    width: 220px;
}

.text_center {
    text-align: center;
}

.title_line {
    background-color: var(--green);
    font-size: 20px;
    height: 80px;
    box-shadow: black 3px 3px 10px;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    color: var(--white);
}